/*
	These are some custom CSS classes that can be used for design purposes
*/

/*
	Playground
*/

.login-page {
	background:url(bedge_grunge.png);
}

html, body {
	height:100%;
}

header {
	min-height:60px;
	height:15% !important;
}

.workspace {
	min-height:70%;
}

footer {
	min-height:15% !important;
}

.stocks-main {
	min-height:375px !important;
	margin-bottom:20px;
}

/*
	Font color
*/

.bg-black{
	background-color: black;
}

.bg-white{
	background-color: white;
}

.bg-red {
	background-color: red;
}

.bg-blue{
	background-color: blue;
}

.bg-green {
	background-color: green;
}

/*
	Font color
*/

.color-black{
	color: black;
}

.color-white{
	color: white;
}

.color-red {
	color: red;
}

.color-blue {
	color: blue;
}

.color-green {
	color: green;
}

/*
	Padding
*/

.ptop-5 {
	padding-top:5px;
}
.ptop-10 {
	padding-top:10px;
}
.ptop-15 {
	padding-top:15px;
}
.ptop-20 {
	padding-top:20px;
}
.ptop-25 {
	padding-top:25px;
}
.ptop-30 {
	padding-top:30px;
}
.ptop-35 {
	padding-top:35px;
}
.ptop-40 {
	padding-top:40px;
}
.ptop-45 {
	padding-top:45px;
}
.ptop-50 {
	padding-top:50px;
}
.ptop-55 {
	padding-top:55px;
}
.ptop-60 {
	padding-top:60px;
}

.pleft-5 {
	padding-left:5px;
}
.pleft-10 {
	padding-left:10px;
}
.pleft-15 {
	padding-left:15px;
}
.pleft-20 {
	padding-left:20px;
}
.pleft-25 {
	padding-left:25px;
}
.pleft-30 {
	padding-left:30px;
}
.pleft-35 {
	padding-left:35px;
}
.pleft-40 {
	padding-left:40px;
}
.pleft-45 {
	padding-left:45px;
}
.pleft-50 {
	padding-left:50px;
}
.pleft-55 {
	padding-left:55px;
}
.pleft-60 {
	padding-left:60px;
}

.pright-5 {
	padding-right:5px;
}
.pright-10 {
	padding-right:10px;
}
.pright-15 {
	padding-right:15px;
}
.pright-20 {
	padding-right:20px;
}
.pright-25 {
	padding-right:25px;
}
.pright-30 {
	padding-right:30px;
}
.pright-35 {
	padding-right:35px;
}
.pright-40 {
	padding-right:40px;
}
.pright-45 {
	padding-right:45px;
}
.pright-50 {
	padding-right:50px;
}
.pright-55 {
	padding-right:55px;
}
.pright-60 {
	padding-right:60px;
}

.pbottom-5 {
	padding-bottom:5px;
}
.pbottom-10 {
	padding-bottom:10px;
}
.pbottom-15 {
	padding-bottom:15px;
}
.pbottom-20 {
	padding-bottom:20px;
}
.pbottom-25 {
	padding-bottom:25px;
}
.pbottom-30 {
	padding-bottom:30px;
}
.pbottom-35 {
	padding-bottom:35px;
}
.pbottom-40 {
	padding-bottom:40px;
}
.pbottom-45 {
	padding-bottom:45px;
}
.pbottom-50 {
	padding-bottom:50px;
}
.pbottom-55 {
	padding-bottom:55px;
}
.pbottom-60 {
	padding-bottom:60px;
}

/*
	Margins
*/

.mtop-1 {
	margin-top:1px;
}

.mtop-2 {
	margin-top:2px;
}

.mtop-3 {
	margin-top:3px;
}